@import "variables.less";
@import "less/mixins/forms.less";
@import "less/mixins/vendor-prefixes.less";

.form-control{
	font-weight: 100;
	border-width: @input-border-width;
}

.check-box{
	cursor: pointer;
	height: 46px;
	min-width: 46px;

	span{
		height: 46px;
		width: 46px;
		border-radius: 23px;
		float: left;

		background-image: url('../img/check.png');
		background-size: 24px 18px;
		background-repeat: no-repeat;
		background-position: 10px;
		background-color: @check-box-cancel-color;
	}

	span.selected{
		background-color: @check-box-selected-color;
	}

	label{
		float: left;
	}
}