@import "less/variables.less";
@import "variables.less";

.list-group-item{
	border: none;
	border-bottom: solid 2px @list-group-border;;
	padding-top: @list-group-item-padding-vertical;
	padding-bottom: @list-group-item-padding-vertical;
}