@import "variables.less";

@margin-bottom-distance: 48px;

#login{
	background-image: url('../img/loginBg-lg.png');
	height: 750px;

	.title{
		float: left;
		padding: 60px 0;
		margin: 24px 0 @margin-bottom-distance 0;

		img{
			float: left;
			height: 76px;
		}

		@media (min-width: 570px){
			img{
				height: 90px;
			}
		}

		@media (min-width: @screen-tablet){
			img{
				height: 110px;
			}
		}
	}

	input{
		margin: 0 0 @margin-bottom-distance 0;
	}

	.rememberMe{
		padding: @input-padding-vertical 0px;
		margin: 0 0 @margin-bottom-distance 0;

		label{
			font-size: @font-size-middle;
			font-weight: 200;
			padding-left: 16px;
		}
	}

	.footBar{
		margin: 0 0 @margin-bottom-distance 0;

		padding-top: 70px;
		font-size: @font-size-small;
		color: @label-text-color;
	}
}