@import "variables.less";
@import "less/variables.less";

#packageListNew{
	.head{
		background-image: url('../img/Head.png');
		min-height: 180px;

		.title{
			float: left;
			padding: 10px 0;
			margin: 24px 0;

			img{
				float:left;
				height: 110px;
			}
		}
	}

	.sectionTitle{
		border-bottom: solid 4px @gray-darker;
		font-size: 34px;

		.nav-tabs, .cursor {
			margin-left: -15px;

			> li {
				&.active > a {
					color: @gray-darker;
				}
			}
		}

		.nav-tabs {
			padding: 45px 0px;
		}

		.cursor{
			width: 206px;
			height: 4px;
			background-color: @gray-darker;

			transform: translateX(0);
			transition: all 0.3s ease-in;

			&.search{
				transform:translateX(274px);
				width: 110px
			}
		}
	}

	.list-group{
		margin-left: -15px;
		margin-right: -15px;

		margin-top: 0;
		margin-bottom: 24px;
	}

	[ui-view].ng-enter, [ui-view].ng-leave{
		transition: transform linear 0.5s;
	}

	[ui-view].ng-enter, [ui-view].ng-leave.ng-leave-active{
		transform: translateX(1280px);
	}

	[ui-view].ng-leave, [ui-view].ng-enter.ng-enter-active{
		transform: translateX(0px);
	}

	.list-group-item{
		font-size: 40px;

		.time{
			&:hover{
				color: @brand-primary;
				cursor: pointer;
			}
		}

		@media (max-width: @grid-float-breakpoint) {
			.vertical-center-xs{
				margin-top: 32px;
				margin-left: 16px;
			}
		}
	}
}