@import "variables.less";
@import "less/variables.less";

#packageListNew{
	.head{
		background-image: url('../img/Head.png');
		min-height: 180px;

		.title{
			float: left;
			padding: 10px 0;

			img{
				float:left;
				height: 110px;
			}
		}
	}

	.sectionTitle{
		border-bottom: solid 4px @gray-darker;
		padding-bottom: 0px;
		padding-top: 0px;
		font-size: 34px;

		.nav-tabs, .cursor {
			margin-left: -15px;

			> li {
				&.active > a {
					color: @gray-darker;
				}
			}
		}

		.nav-tabs {
			padding: 45px 0px;
		}

		.cursor{
			width: 206px;
			height: 4px;
			background-color: @gray-darker;

			transform: translateX(0);
			transition: all 0.3s ease-in;

			&.search{
				transform:translateX(274px);
				width: 110px
			}
		}
	}

	.list-group{
		margin-left: -15px;
		margin-right: -15px;
		margin-top: -24px;
	}

	[ui-view].ng-enter, [ui-view].ng-leave{
		transition: transform linear 0.5s;
	}

	[ui-view].ng-enter, [ui-view].ng-leave.ng-leave-active{
		transform: translateX(1280px);
	}

	[ui-view].ng-leave, [ui-view].ng-enter.ng-enter-active{
		transform: translateX(0px);
	}

	.list-group-item{
		font-size: 40px;

		small, strong{
			padding-left: 32px;
		}

		.time{
			padding-left: 64px;
			&:hover{
				color: @brand-primary;
				cursor: pointer;
			}

			.price{
				float: right;
				padding-right: 64px;
			}
		}

		.icon{
			border: 2px solid;
    		border-radius: 32px;
		    padding: 0px;
		    width: 64px;
		    height: 64px;
		    display: inline-block;
		    position: absolute;

		    .glyphicon{
		    	padding: 10px;
		    }
		}

		&.preparing{
			color: @brand-warning;

			.icon{
				border-color: @brand-warning;
			}
		}

		&.delivery{
			color: @brand-info;
		    
		    .icon{
		    	border-color: @brand-info;
		    }
		}

		&.finished{
			color: @gray-darker;
		    
			.icon{
		    	border-color: @gray-darker;
		    }
		}

		&.preparing > .icon > .glyphicon, &.delivery > .icon > .glyphicon{
			-webkit-animation-name: 'flight';
			-webkit-animation-duration: 1s;
			-webkit-animation-timing-function: ease-in-out;
			-webkit-animation-iteration-count: infinite;
		}

		@-webkit-keyframes 'flight' {
			0% {
				transform: scale(0);
			}

			25% {
				transform: scale(0.25);
			}

			50% {
				transform: scale(0.5);
			}

			75% {
				transform: scale(0.75);
			}

			100% {
				transform: scale(1);
			}

		}
	}
}