@import "variables.less";

#packageList{
	.head{
		background-image: url('../img/Head.png');
		min-height: 180px;

		.title{
			float: left;
			padding: 10px 0;

			img{
				float:left;
				height: 110px;
			}
		}
	}

	.sectionTitle{
		border-bottom: solid 4px #000000;
	}

	.listItem{
		border-bottom: solid 2px #d0d3d5;
		padding-top: 32px;
		padding-bottom: 32px;

		.item{
			.glyphicon{
				transform: scale(3);
				transition: transform 0.5s;
			}

			label{
				padding-left:48px;
				font-size: @font-size-middle;
			}
		}
	}
}