<div id="login" class="container" ng-app="loginMdl" ng-controller="LoginController as loginCtrl">
	<div class="row">
		<!--<div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
			<div class="title">
				<img src="img/Global_title.png">
				<img src="img/Earth_title.png">
				<img src="img/Buy_title.png">
			</div>
		</div>-->
		<div class="col-xs-6">
			<div class="title pull-right">
				<img src="img/Global_title.png">
			</div>
		</div>
		<div class="col-xs-6">
			<div class="title">
				<img src="img/Earth_title.png">
				<img src="img/Buy_title.png">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0">
			<div class="form-group">
				<label for="userIdInput" class="sr-only"></label>
				<input id="userIdInput" type="text" class="form-control input-lg" placeholder="User ID" ng-model="loginCtrl.userName">
			</div>
		</div>
		<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0">
			<div class="form-group">
				<label for="passwordInput" class="sr-only"></label>
				<input id="passwordInput" type="password" class="form-control input-lg" placeholder="Password" ng-model="loginCtrl.pwd">
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0">
			<div class="rememberMe">
				<div class="check-box">
					<span use-class="selected : loginCtrl.isStored" ng-click="loginCtrl.select()"></span>
					<label>Remember me</label>
				</div>
			</div>
		</div>
		<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0">
			<input type="button" class="btn btn-lg btn-primary btn-block" value="Login" ng-click="loginCtrl.login()">
		</div>
	</div>
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0">
			<label class="footBar labelFont">© Copyright WangWang_SEU Corporation</label>
		</div>
	</div>
</div>